In [9]:
import acquire
import re

In [6]:
blog = acquire.get_blog_articles()

In [3]:
import prepare

In [4]:
prepare.basic_clean(acquire.get_blog_articles())

,content,title
0,rumor true time ha arrived odeup ha officially...,odeups ata cience areer ccelerator ere odeup
1,imitri ntoniou aggie iust ata cience ig ata ac...,ata cience yths odeup
2,imitri ntoniou week ago odeup launched immersi...,ata cience ata nalytics hat ifference odeup
3,10 ip rush ech ob air ech ob air third biannua...,10 ip rush ech ob air odeup
4,ompetitor ootcamps losing odel anger programmi...,ompetitor ootcamps losing odel anger odeup

In [5]:
import nltk

In [18]:
blog['content'].apply(lambda x: re.sub(r'[\n|\r|\r\n|\t]*', '', x))

0    The rumors are true! The time has arrived. Cod...
1    By Dimitri Antoniou and Maggie GiustData Scien...
2    By Dimitri AntoniouA week ago, Codeup launched...
3    10 Tips to Crush It at the SA Tech Job FairSA ...
4    Competitor Bootcamps Are Closing. Is the Model...
Name: content, dtype: object

In [17]:
blog

,content,title
0,\nThe rumors are true! The time has arrived. C...,Codeup’s Data Science Career Accelerator is He...
1,\nBy Dimitri Antoniou and Maggie Giust\nData S...,Data Science Myths - Codeup
2,"\nBy Dimitri Antoniou\nA week ago, Codeup laun...",Data Science VS Data Analytics: What’s The Dif...
3,\n10 Tips to Crush It at the SA Tech Job Fair\...,10 Tips to Crush It at the SA Tech Job Fair - ...
4,\nCompetitor Bootcamps Are Closing. Is the Mod...,Competitor Bootcamps Are Closing. Is the Model...