## Lesson

In [9]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()
import pandas as pd
from pydataset import data

In [21]:
mpg = spark.createDataFrame(data('mpg'))
mpg

DataFrame[manufacturer: string, model: string, displ: double, year: bigint, cyl: bigint, trans: string, drv: string, cty: bigint, hwy: bigint, fl: string, class: string]

In [23]:
# can reference columns in different ways
mpg.select('manufacturer', mpg.cty, mpg.hwy.alias('hwy_mileage')).show(5)

+------------+---+-----------+
|manufacturer|cty|hwy_mileage|
+------------+---+-----------+
|        audi| 18|         29|
|        audi| 21|         29|
|        audi| 20|         31|
|        audi| 21|         30|
|        audi| 16|         26|
+------------+---+-----------+
only showing top 5 rows

In [20]:
#show first 5
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

## Spark API Mini Exercises

Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

In [82]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

Spark Dataframe Basics:

1) Use the starter code above to create a pandas dataframe.

In [83]:
pandas_dataframe.head()

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False
3  0.451812     y  False
4  1.345102     z  False

2) Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [84]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

3) Show the first 3 rows of the dataframe.

In [85]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

4) Show the first 7 rows of the dataframe.

In [86]:
df.select('*').show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

5) View a summary of the data using .describe.

In [87]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

6) Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [88]:
n_bool = df.select('n','abool')
n_bool.show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

7) Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [89]:
group_bool = df.drop('n')
group_bool.show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

8) Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [90]:
group_bool_new = df.select('group',df.abool.alias('a_boolean_value'))
group_bool_new.show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

9) Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [91]:
group_n = df.select(df.group, df.n.alias('a_numeric_value'))
group_n.show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

Column Manipulation:

1) Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

In [51]:
df = spark.createDataFrame(pandas_dataframe)

2) Use .select to add 4 to the n column. Show the results.

In [55]:
plus_4 = df.n + 4
df.select(plus_4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
+------------------+
only showing top 5 rows

3) Subtract 5 from the n column and view the results.

In [57]:
minus_5 = df.n - 5
df.select(minus_5).show(5)

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
+-------------------+
only showing top 5 rows

4) Multiply the n column by 2. View the results along with the original numbers.

In [94]:
times_2 = df.n * 2
df.select(df.n, times_2).show(5)

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
+--------------------+--------------------+
only showing top 5 rows

5) Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [95]:
n2 = df.n * (-1)
df = df.select('*', n2.alias('n2'))
df.show(4)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974|
+--------------------+-----+-----+--------------------+
only showing top 4 rows

6) Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [96]:
n3 = df.n ** 2
df = df.select('*', n3.alias('n3'))
df.show(5)

+--------------------+-----+-----+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|
+--------------------+-----+-----+--------------------+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|    x|false|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|    y|false|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097|    z|false| -1.3451017084510097|  1.8092986060778251|
+--------------------+-----+-----+--------------------+--------------------+
only showing top 5 rows

7) What happens when you run the code below?

> `df.group + df.abool`

In [72]:
df.group+df.abool

Column<b'(group + abool)'>

8) What happens when you run the code below? What is the difference between this and the previous code sample?

> `df.select(df.group + df.abool)`

In [73]:
df.select(df.group + df.abool)

AnalysisException: "cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;;\n'Project [(cast(group#740 as double) + abool#741) AS (group + abool)#857]\n+- Project [n#739, group#740, abool#741, n2#817, POWER(n#739, cast(2 as double)) AS n3#835]\n   +- Project [n#739, group#740, abool#741, (n#739 * cast(-1 as double)) AS n2#817]\n      +- LogicalRDD [n#739, group#740, abool#741], false\n"

9) Try adding various other columns together. What are the results of combining the different data types?

In [75]:
df.select(df.n * df.n3).show()

+--------------------+
|            (n * n3)|
+--------------------+
| -0.3615385853969069|
|  0.4282627350350894|
|-8.81394139018882...|
|  0.0922304359126587|
|   2.433690646133313|
| 0.15085584174152858|
|  2.4614024847300873|
|  0.6387475847471277|
|  3.2331633847188845|
| -1.1424020788657008|
| -0.4911485726906973|
| -2.0080345493556826|
| 0.17830789369648598|
|-0.01440677917247...|
|  0.7629022859689771|
|  0.0319609217803453|
|0.002063092891225332|
|   9.943686746196642|
|  0.2228631831168166|
|-1.91878102553488...|
+--------------------+