### 1) Use a python module containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [10]:
import pandas as pd
from pydataset import data
dfa_iris = data('iris')
type(df_iris)

pandas.core.frame.DataFrame

- print the first 3 rows

In [4]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

- print the number of rows and columns (shape)

In [5]:
df_iris.shape

(150, 5)

- print the column names

In [6]:
df_iris.columns.to_list()

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

- print the data type of each column

In [8]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [9]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 2) Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [16]:
df_excel = pd.read_excel('~/Documents/codeup/Dominic Pedrotti - Excel_Exercises.xlsx', sheet_name= 0 )
df_excel.head(3)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes

- assign the first 100 rows to a new dataframe, df_excel_sample

In [18]:
df_excel_sample = df_excel[:100]

- print the number of rows of your original dataframe

In [19]:
df_excel.shape[0]

7049

- print the first 5 column names

In [21]:
df_excel.columns.tolist()[0:5]

['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']

- print the column names that have a data type of object

In [23]:
df_excel.select_dtypes(object).columns.tolist()

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

- compute the range for each of the numeric variables.

In [28]:
df.select_dtypes(float, int).max()- df.select_dtypes(float, int).min()

monthly_charges     100.5
total_charges      8666.0
dtype: float64