In [1]:
import warnings
warnings.filterwarnings("ignore")

# I. Acquisition

### 1) Use a python module containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [36]:
import pandas as pd
import numpy as np
from pydataset import data
df_iris = data('iris')
type(df_iris)

pandas.core.frame.DataFrame

- print the first 3 rows

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

- print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

- print the column names

In [5]:
df_iris.columns.to_list()

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

- print the data type of each column

In [6]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 2) Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [8]:
df_excel = pd.read_excel('~/Documents/codeup/Dominic Pedrotti - Excel_Exercises.xlsx', sheet_name= 0 )
df_excel.head(3)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes

- assign the first 100 rows to a new dataframe, df_excel_sample

In [9]:
df_excel_sample = df_excel[:100]

- print the number of rows of your original dataframe

In [10]:
df_excel.shape[0]

7049

- print the first 5 column names

In [11]:
df_excel.columns.tolist()[0:5]

['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']

- print the column names that have a data type of object

In [12]:
df_excel.select_dtypes(object).columns.tolist()

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

- compute the range for each of the numeric variables.

In [13]:
df_excel.select_dtypes([float, int]).max()- df_excel.select_dtypes([float, int]).min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

### 3) Read the data from this google sheet into a dataframe, df_google
- print the first 3 rows

In [14]:
df_google = pd.read_clipboard()
df_google.head(3)

                              import  warnings
0  warnings.filterwarnings("ignore")       NaN

- print the number of rows and columns

In [15]:
df_google.shape

(1, 2)

- print the column names

In [16]:
df_google.columns.tolist()

['import', 'warnings']

- print the data type of each column

In [17]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
import      1 non-null object
warnings    0 non-null float64
dtypes: float64(1), object(1)
memory usage: 96.0+ bytes

- print the summary statistics for each of the numeric variables

In [18]:
df_google.describe()

       warnings
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

- print the unique values for each of your categorical variables

In [19]:
catgoricals = df_google.select_dtypes(object).columns.tolist()
for i in catgoricals:
    print (i, '\n*************************************************\n', df_google[i].unique())

import
*************************************************
 ['warnings.filterwarnings("ignore")']

In [20]:
import acquire as acq
titan = acq.get_titanic_data()
titan.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [21]:
iris = acq.get_iris_data()
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
species_id        150 non-null int64
measurement_id    150 non-null int64
sepal_length      150 non-null float64
sepal_width       150 non-null float64
petal_length      150 non-null float64
petal_width       150 non-null float64
species_name      150 non-null object
dtypes: float64(4), int64(2), object(1)
memory usage: 8.3+ KB

# II. Preparation

### 1) Iris data
- Drop the species_id and measurement_id columns.

In [22]:
clean_iris = iris.drop('species_id', axis = 1).drop('measurement_id', axis = 1)

- Rename the species_name column to just species.

In [23]:
clean_iris.rename(columns = {'species_name':'species'}, inplace=True)

- Encode the species name using a sklearn label encoder. Research the inverse_transform method of the label encoder. How might this be useful?

In [24]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

encoder = LabelEncoder().fit(clean_iris.species)
encoded_species = encoder.transform(clean_iris.species)
encoded_species

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

- test function to do it all

In [26]:
from prepare import prep_iris
prep_iris(acq.get_iris_data()).head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

### 2) Titanic Data

- Use the function you defined in acquire.py to load the titanic data set.

In [27]:
titan = acq.get_titanic_data()
titan.info()
titan.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
passenger_id    891 non-null int64
survived        891 non-null int64
pclass          891 non-null int64
sex             891 non-null object
age             714 non-null float64
sibsp           891 non-null int64
parch           891 non-null int64
fare            891 non-null float64
embarked        889 non-null object
class           891 non-null object
deck            203 non-null object
embark_town     889 non-null object
alone           891 non-null int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

- Handle the missing values in the embark_town and embarked columns.

In [28]:
clean_titan=titan[ ~titan.embarked.isnull()]

- Remove the deck column.

In [29]:
clean_titan=titan[ ~titan.embarked.isnull()]

- Use a label encoder to transform the embarked column.

In [30]:
encoder = LabelEncoder().fit(clean_titan.embarked)
clean_titan.embarked = encoder.transform(clean_titan.embarked)

- Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(copy=True, feature_range=(0,1)).fit(clean_titan[['age', 'fare']])
clean_titan[['age', 'fare']] = scaler.transform(clean_titan[['age', 'fare']])
clean_titan.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,0.271174,1,0,0.014151,2,Third,None,Southampton,0
1,1,1,1,female,0.472229,1,0,0.139136,0,First,C,Cherbourg,0
2,2,1,3,female,0.321438,0,0,0.015469,2,Third,None,Southampton,1
3,3,1,1,female,0.434531,1,0,0.103644,2,First,C,Southampton,0
4,4,0,3,male,0.434531,0,0,0.015713,2,Third,None,Southampton,1

- change Nones to np.nans

In [39]:
clean_titan = clean_titan.where((pd.notnull(clean_titan)), np.nan)

- Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.

In [32]:
from prepare import prep_titanic
prep_titanic(acq.get_titanic_data())

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,0.271174,1,0,0.014151,2,Third,None,Southampton,0
1,1,1,1,female,0.472229,1,0,0.139136,0,First,C,Cherbourg,0
2,2,1,3,female,0.321438,0,0,0.015469,2,Third,None,Southampton,1
3,3,1,1,female,0.434531,1,0,0.103644,2,First,C,Southampton,0
4,4,0,3,male,0.434531,0,0,0.015713,2,Third,None,Southampton,1
5,5,0,3,male,NaN,0,0,0.016510,1,Third,None,Queenstown,1
6,6,0,1,male,0.673285,0,0,0.101229,2,First,E,Southampton,1
7,7,0,3,male,0.019854,3,1,0.041136,2,Third,None,Southampton,0
8,8,1,3,female,0.334004,0,2,0.021731,2,Third,None,Southampton,0
9,9,1,2,female,0.170646,1,0,0.058694,0,Second,None,Cherbourg,0
10,10,1,3,female,0.044986,1,1,0.032596,2,Third,G,Southampton,0
11,11,1,1,female,0.723549,0,0,0.051822,2,First,C,Southampton,1
12,12,0,3,male,0.246042,0,0,0.015713,2,Third,None,Southampton,1
13,13,0,3,male,0.484795,1,5,0.061045,2,Third,None,Southampton,0
14,14,0,3,female,0.170646,0,0,0.015330,2,Third,None,Southampton,1
15,15,1,2,female,0.685851,0,0,0.031230,2,Second,None,Southampton,1
16,16,0,3,male,0.019854,4,1,0.056848,1,Third,None,Queenstown,0
17,17,1,2,male,NaN,0,0,0.025374,2,Second,None,Southampton,1
18,18,0,3,female,0.384267,1,0,0.035134,2,Third,None,Southampton,0
19,19,1,3,female,NaN,0,0,0.014102,0,Third,None,Cherbourg,1
20,20,0,2,male,0.434531,0,0,0.050749,2,Second,None,Southampton,1
21,21,1,2,male,0.421965,0,0,0.025374,2,Second,D,Southampton,1
22,22,1,3,female,0.183212,0,0,0.015672,1,Third,None,Queenstown,1
23,23,1,1,male,0.346569,0,0,0.069291,2,First,A,Southampton,1
24,24,0,3,female,0.095250,3,1,0.041136,2,Third,None,Southampton,0
25,25,1,3,female,0.472229,1,5,0.061264,2,Third,None,Southampton,0
26,26,0,3,male,NaN,0,0,0.014102,0,Third,None,Cherbourg,1
27,27,0,1,male,0.233476,3,2,0.513342,2,First,C,Southampton,0
28,28,1,3,female,NaN,0,0,0.015379,1,Third,None,Queenstown,1
29,29,0,3,male,NaN,0,0,0.015412,2,Third,None,Southampton,1
30,30,0,1,male,0.497361,0,0,0.054107,0,First,None,Cherbourg,1
31,31,1,1,female,NaN,1,0,0.285990,0,First,B,Cherbourg,0
32,32,1,3,female,NaN,0,0,0.015127,1,Third,None,Queenstown,1
33,33,0,2,male,0.824076,0,0,0.020495,2,Second,None,Southampton,1
34,34,0,1,male,0.346569,1,0,0.160387,0,First,None,Cherbourg,0
35,35,0,1,male,0.522493,1,0,0.101497,2,First,None,Southampton,0
36,36,1,3,male,NaN,0,0,0.014110,0,Third,None,Cherbourg,1
37,37,0,3,male,0.258608,0,0,0.015713,2,Third,None,Southampton,1
38,38,0,3,female,0.220910,2,0,0.035134,2,Third,None,Southampton,0
39,39,1,3,female,0.170646,1,0,0.021942,0,Third,None,Cherbourg,0
40,40,0,3,female,0.497361,1,0,0.018494,2,Third,None,Southampton,0
41,41,0,2,female,0.334004,1,0,0.040989,2,Second,None,Southampton,0
42,42,0,3,male,NaN,0,0,0.015412,0,Third,None,Cherbourg,1
43,43,1,2,female,0.032420,1,2,0.081157,0,Second,None,Cherbourg,0
44,44,1,3,female,0.233476,0,0,0.015379,1,Third,None,Queenstown,1
45,45,0,3,male,NaN,0,0,0.015713,2,Third,None,Southampton,1
46,46,0,3,male,NaN,1,0,0.030254,1,Third,None,Queenstown,0
47,47,1,3,female,NaN,0,0,0.015127,1,Third,None,Queenstown,1
48,48,0,3,male,NaN,2,0,0.042315,0,Third,None,Cherbourg,0
49,49,0,3,female,0.220910,1,0,0.034743,2,Third,None,Southampton,0
50,50,0,3,male,0.082684,4,1,0.077465,2,Third,None,Southampton,0
51,51,0,3,male,0.258608,0,0,0.015225,2,Third,None,Southampton,1
52,52,1,1,female,0.610455,1,0,0.149765,0,First,D,Cherbourg,0
53,53,1,2,female,0.359135,1,0,0.050749,2,Second,None,Southampton,0
54,54,0,1,male,0.811510,0,1,0.120975,0,First,B,Cherbourg,0
55,55,1,1,male,NaN,0,0,0.069291,2,First,C,Southampton,1
56,56,1,2,female,0.258608,0,0,0.020495,2,Second,None,Southampton,1
57,57,0,3,male,0.352852,0,0,0.014110,0,Third,None,Cherbourg,1
58,58,1,2,female,0.057552,1,2,0.054164,2,Second,None,Southampton,0
59,59,0,3,male,0.132948,5,2,0.091543,2,Third,None,Southampton,0
60,60,0,3,male,0.271174,0,0,0.014110,0,Third,None,Cherbourg,1
62,62,0,1,male,0.560191,1,0,0.162932,2,First,C,Southampton,0
63,63,0,3,male,0.044986,3,2,0.054457,2,Third,None,Southampton,0
64,64,0,1,male,NaN,0,0,0.054107,0,First,None,Cherbourg,1
65,65,1,3,male,NaN,1,1,0.029758,0,Third,None,Cherbourg,0
66,66,1,2,female,0.359135,0,0,0.020495,2,Second,F,Southampton,1
67,67,0,3,male,0.233476,0,0,0.015924,2,Third,None,Southampton,1
68,68,1,3,female,0.208344,4,2,0.015469,2,Third,None,Southampton,0
69,69,0,3,male,0.321438,2,0,0.016908,2,Third,None,Southampton,0
70,70,0,2,male,0.396833,0,0,0.020495,2,Second,None,Southampton,1
71,71,0,3,female,0.195778,5,2,0.091543,2,Third,None,Southampton,0
72,72,0,2,male,0.258608,0,0,0.143462,2,Second,None,Southampton,1
73,73,0,3,male,0.321438,1,0,0.028213,0,Third,None,Cherbourg,0
74,74,1,3,male,0.396833,0,0,0.110272,2,Third,None,Southampton,1
75,75,0,3,male,0.308872,0,0,0.014932,2,Third,F,Southampton,1
76,76,0,3,male,NaN,0,0,0.015412,2,Third,None,Southampton,1
77,77,0,3,male,NaN,0,0,0.015713,2,Third,None,Southampton,1
78,78,1,2,male,0.005152,0,2,0.056604,2,Second,None,Southampton,0
79,79,1,3,female,0.371701,0,0,0.024350,2,Third,None,Southampton,1
80,80,0,3,male,0.271174,0,0,0.017567,2,Third,None,Southampton,1
81,81,1,3,male,0.359135,0,0,0.018543,2,Third,None,Southampton,1
82,82,1,3,female,NaN,0,0,0.015200,1,Third,None,Queenstown,1
83,83,0,1,male,0.346569,0,0,0.091933,2,First,None,Southampton,1
84,84,1,2,female,0.208344,0,0,0.020495,2,Second,None,Southampton,1
85,85,1,3,female,0.409399,3,0,0.030937,2,Third,None,Southampton,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,805,0,3,male,0.384267,0,0,0.015176,2,Third,None,Southampton,1
806,806,0,1,male,0.484795,0,0,0.000000,2,First,A,Southampton,1
807,807,0,3,female,0.220910,0,0,0.015176,2,Third,None,Southampton,1
808,808,0,2,male,0.484795,0,0,0.025374,2,Second,None,Southampton,1
809,809,1,1,female,0.409399,1,0,0.103644,2,First,E,Southampton,0
810,810,0,3,male,0.321438,0,0,0.015395,2,Third,None,Southampton,1
811,811,0,3,male,0.484795,0,0,0.047138,2,Third,None,Southampton,1
812,812,0,2,male,0.434531,0,0,0.020495,2,Second,None,Southampton,1
813,813,0,3,female,0.070118,4,2,0.061045,2,Third,None,Southampton,0
814,814,0,3,male,0.377984,0,0,0.015713,2,Third,None,Southampton,1
815,815,0,1,male,NaN,0,0,0.000000,2,First,B,Southampton,1
816,816,0,3,female,0.283740,0,0,0.015469,2,Third,None,Southampton,1
817,817,0,2,male,0.384267,1,1,0.072227,0,Second,None,Cherbourg,0
818,818,0,3,male,0.535059,0,0,0.012590,2,Third,None,Southampton,1
819,819,0,3,male,0.120382,3,2,0.054457,2,Third,None,Southampton,0
820,820,1,1,female,0.648153,1,1,0.182500,2,First,B,Southampton,0
821,821,1,3,male,0.334004,0,0,0.016908,2,Third,None,Southampton,1
822,822,0,1,male,0.472229,0,0,0.000000,2,First,None,Southampton,1
823,823,1,3,female,0.334004,0,1,0.024350,2,Third,E,Southampton,0
824,824,0,3,male,0.019854,4,1,0.077465,2,Third,None,Southampton,0
825,825,0,3,male,NaN,0,0,0.013565,1,Third,None,Queenstown,1
826,826,0,3,male,NaN,0,0,0.110272,2,Third,None,Southampton,1
827,827,1,2,male,0.007288,0,2,0.072227,0,Second,None,Cherbourg,0
828,828,1,3,male,NaN,0,0,0.015127,1,Third,None,Queenstown,1
830,830,1,3,female,0.183212,1,0,0.028213,0,Third,None,Cherbourg,0
831,831,1,2,male,0.005152,1,1,0.036598,2,Second,None,Southampton,0
832,832,0,3,male,NaN,0,0,0.014110,0,Third,None,Cherbourg,1
833,833,0,3,male,0.283740,0,0,0.015330,2,Third,None,Southampton,1
834,834,0,3,male,0.220910,0,0,0.016201,2,Third,None,Southampton,1
835,835,1,1,female,0.484795,1,1,0.162314,0,First,E,Cherbourg,0
836,836,0,3,male,0.258608,0,0,0.016908,2,Third,None,Southampton,1
837,837,0,3,male,NaN,0,0,0.015713,2,Third,None,Southampton,1
838,838,1,3,male,0.396833,0,0,0.110272,2,Third,None,Southampton,1
839,839,1,1,male,NaN,0,0,0.057971,0,First,C,Cherbourg,1
840,840,0,3,male,0.246042,0,0,0.015469,2,Third,None,Southampton,1
841,841,0,2,male,0.195778,0,0,0.020495,2,Second,None,Southampton,1
842,842,1,1,female,0.371701,0,0,0.060508,0,First,None,Cherbourg,1
843,843,0,3,male,0.428248,0,0,0.012565,0,Third,None,Cherbourg,1
844,844,0,3,male,0.208344,0,0,0.016908,2,Third,None,Southampton,1
845,845,0,3,male,0.522493,0,0,0.014737,2,Third,None,Southampton,1
846,846,0,3,male,NaN,8,2,0.135753,2,Third,None,Southampton,0
847,847,0,3,male,0.434531,0,0,0.015412,0,Third,None,Cherbourg,1
848,848,0,2,male,0.346569,0,1,0.064412,2,Second,None,Southampton,0
849,849,1,1,female,NaN,1,0,0.173920,0,First,C,Cherbourg,0
850,850,0,3,male,0.044986,4,2,0.061045,2,Third,None,Southampton,0
851,851,0,3,male,0.924604,0,0,0.015176,2,Third,None,Southampton,1
852,852,0,3,female,0.107816,1,1,0.029758,0,Third,None,Cherbourg,0
853,853,1,1,female,0.195778,0,1,0.076904,2,First,D,Southampton,0
854,854,0,2,female,0.547625,1,0,0.050749,2,Second,None,Southampton,0
855,855,1,3,female,0.220910,0,1,0.018250,2,Third,None,Southampton,0
856,856,1,1,female,0.560191,1,1,0.321798,2,First,None,Southampton,0
857,857,1,1,male,0.635587,0,0,0.051822,2,First,E,Southampton,1
858,858,1,3,female,0.296306,0,3,0.037590,0,Third,None,Cherbourg,0
859,859,0,3,male,NaN,0,0,0.014110,0,Third,None,Cherbourg,1
860,860,0,3,male,0.509927,2,0,0.027538,2,Third,None,Southampton,0
861,861,0,2,male,0.258608,1,0,0.022447,2,Second,None,Southampton,0
862,862,1,1,female,0.597889,0,0,0.050610,2,First,D,Southampton,1
863,863,0,3,female,NaN,8,2,0.135753,2,Third,None,Southampton,0
864,864,0,2,male,0.296306,0,0,0.025374,2,Second,None,Southampton,1
865,865,1,2,female,0.522493,0,0,0.025374,2,Second,None,Southampton,1
866,866,1,2,female,0.334004,1,0,0.027050,0,Second,None,Cherbourg,0
867,867,0,1,male,0.384267,0,0,0.098561,2,First,A,Southampton,1
868,868,0,3,male,NaN,0,0,0.018543,2,Third,None,Southampton,1
869,869,1,3,male,0.044986,1,1,0.021731,2,Third,None,Southampton,0
870,870,0,3,male,0.321438,0,0,0.015412,2,Third,None,Southampton,1
871,871,1,1,female,0.585323,1,1,0.102579,2,First,D,Southampton,0
872,872,0,1,male,0.409399,0,0,0.009759,2,First,B,Southampton,1
873,873,0,3,male,0.585323,0,0,0.017567,2,Third,None,Southampton,1
874,874,1,2,female,0.346569,1,0,0.046845,0,Second,None,Cherbourg,0
875,875,1,3,female,0.183212,0,0,0.014102,0,Third,None,Cherbourg,1
876,876,0,3,male,0.246042,0,0,0.019218,2,Third,None,Southampton,1
877,877,0,3,male,0.233476,0,0,0.015412,2,Third,None,Southampton,1
878,878,0,3,male,NaN,0,0,0.015412,2,Third,None,Southampton,1
879,879,1,1,female,0.698417,0,1,0.162314,0,First,C,Cherbourg,0
880,880,1,2,female,0.308872,0,1,0.050749,2,Second,None,Southampton,0
881,881,0,3,male,0.409399,0,0,0.015412,2,Third,None,Southampton,1
882,882,0,3,female,0.271174,0,0,0.020527,2,Third,None,Southampton,1
883,883,0,2,male,0.346569,0,0,0.020495,2,Second,None,Southampton,1
884,884,0,3,male,0.308872,0,0,0.013761,2,Third,None,Southampton,1
885,885,0,3,female,0.484795,0,5,0.056848,1,Third,None,Queenstown,0
886,886,0,2,male,0.334004,0,0,0.025374,2,Second,None,Southampton,1
887,887,1,1,female,0.233476,0,0,0.058556,2,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,0.045771,2,Third,None,Southampton,0
889,889,1,1,male,0.321438,0,0,0.058556,0,First,C,Cherbourg,1
890,890,0,3,male,0.396833,0,0,0.015127,1,Third,None,Queenstown,1