In [1]:
from pydataset import data
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.formula.api import ols
import seaborn as sns
import math

### 1) Load the tips dataset from either pydataset or seaborn

In [2]:
df = data('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

### 2) Fit a linear regression model (ordinary least squares) and compute yhat, predictions of tip using total_bill. You may follow these steps to do that:

- fit the model to your data, where x = total_bill and y = tip: regr = ols('y ~ x', data=df).fit()

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
x_y = df[['total_bill', 'tip']]
regr = ols('tip ~ total_bill', data=x_y)
regr

- compute yhat, the predictions of tip using total_bill: df['yhat'] = regr.predict(df.x)

In [8]:
df['yhat'] = regr.predict(x_y.total_bill)

ValueError: shapes (244,2) and (244,) not aligned: 2 (dim 1) != 244 (dim 0)

### 4) Write a function, plot_residuals(x, y, dataframe) that takes the feature, the target, and the dataframe as input and returns a residual plot. (hint: seaborn has an easy way to do this!)

In [ ]:
def plot_residuals(x,y,dataframe):
    sns.residplot(x,y,data = dataframe)

In [ ]:
#test
plot_residuals(df.total_bill, df.tip, df)

### 5) Write a function, regression_errors(y, yhat), that takes in y and yhat, returns the sum of squared errors (SSE), explained sum of squares (ESS), total sum of squares (TSS), mean squared error (MSE) and root mean squared error (RMSE).

In [ ]:
def regression_errors(y,yhat):
    sse = ((yhat - y)**2).sum()
    ess = ((yhat - y.mean())**2).sum()
    tss = sse + ess
    mse = sse/len(y)
    rmse = math.sqrt(mse)
    return {'sse': sse, 'ess': ess, 'tss': tss, 'mse' : mse, 'rmse' : rmse }

In [ ]:
#test
reg_err = regression_errors(x_y.tip, x_y.yhat)
reg_err

### 6) Write a function, baseline_mean_errors(y), that takes in your target, y, computes the SSE, MSE & RMSE when yhat is equal to the mean of all y, and returns the error values (SSE, MSE, and RMSE).

In [ ]:
def baseline_mean_errors(y):
    yhat = y.mean()
    sse = ((yhat - y)**2).sum()
    mse = sse/len(y)
    rmse = math.sqrt(mse)
    return {'sse': sse, 'mse' : mse, 'rmse' : rmse }

In [ ]:
#test
base_err = baseline_mean_errors(x_y.tip)
base_err

### 7) Write a function, better_than_baseline(SSE), that returns true if your model performs better than the baseline, otherwise false.

In [ ]:
def better_than_baseline(y, yhat):
    sse = ((yhat - y)**2).sum()
    base_sse = ((y.mean() - y)**2).sum()
    return sse < base_sse

In [ ]:
better_than_baseline(x_y.tip, x_y.yhat)

### 8) Write a function, model_significance(ols_model), that takes the ols model as input and returns the amount of variance explained in your model, and the value telling you whether the correlation between the model and the tip value are statistically significant.

In [ ]:
def model_significance(ols_model):