In [2]:
#wrangle data
from env import get_db_url
import pandas as pd
import numpy as np

### 1) Acquire customer_id, monthly_charges, tenure, and total_charges from telco_churn database for all customers with a 2 year contract.

In [5]:
url = get_db_url('telco_churn')
df = pd.read_sql('''
SELECT customer_id, monthly_charges, total_charges
FROM customers
where contract_type_id = 3
''', url)

In [7]:
df.head(5)

  customer_id  monthly_charges total_charges
0  0013-SMEOE           109.70       7904.25
1  0014-BMAQU            84.65        5377.8
2  0016-QLJIS            90.45        5957.9
3  0017-DINOC            45.20       2460.55
4  0017-IUDMW           116.80       8456.75

In [9]:
df.shape

(1695, 3)

In [11]:
df.describe()

       monthly_charges
count      1695.000000
mean         60.770413
std          34.678865
min          18.400000
25%          24.025000
50%          64.350000
75%          90.450000
max         118.750000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 3 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
total_charges      1695 non-null object
dtypes: float64(1), object(2)
memory usage: 39.8+ KB