In [1]:
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

from env import get_db_url
import acquire

In [2]:
query = '''
select * 
from `predictions_2017`
left join properties_2017
using(`parcelid`)
left join `airconditioningtype`
using (`airconditioningtypeid`)
left join `architecturalstyletype` as arch
using(`architecturalstyletypeid`)
left join `buildingclasstype`
using(`buildingclasstypeid`)
left join `heatingorsystemtype`
using(`heatingorsystemtypeid`)
left join `propertylandusetype`
using(`propertylandusetypeid`)
left join `storytype`
using(`storytypeid`)
left join `typeconstructiontype`
using(`typeconstructiontypeid`)
where (`latitude` is not null) and (`longitude` is not NULL)
'''
df = pd.read_sql(query, get_db_url('zillow'))

In [3]:
zillow = df.sort_values(by = ['transactiondate'], axis = 0).drop_duplicates(keep = 'last', subset = 'parcelid')
zillow.shape

(77381, 69)

In [4]:
zillow.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
typeconstructiontypeid,222.00,6.04,0.56,4.00,6.00,6.00,6.00,13.00
storytypeid,50.00,7.00,0.00,7.00,7.00,7.00,7.00,7.00
propertylandusetypeid,"77,381.00",261.83,5.14,31.00,261.00,261.00,266.00,275.00
heatingorsystemtypeid,"49,440.00",3.92,3.59,1.00,2.00,2.00,7.00,24.00
buildingclasstypeid,15.00,3.93,0.26,3.00,4.00,4.00,4.00,4.00
architecturalstyletypeid,206.00,7.39,2.73,2.00,7.00,7.00,7.00,21.00
airconditioningtypeid,"24,953.00",1.81,2.97,1.00,1.00,1.00,1.00,13.00
parcelid,"77,381.00","13,007,150.51","3,481,345.65","10,711,855.00","11,538,305.00","12,531,568.00","14,211,831.00","167,689,317.00"
id,"77,381.00","38,848.69","22,402.43",0.00,"19,461.00","38,870.00","58,253.00","77,613.00"
logerror,"77,381.00",0.02,0.17,-4.66,-0.02,0.01,0.04,5.26
id,"77,381.00","1,495,138.90","860,907.05",349.00,"752,070.00","1,497,932.00","2,240,535.00","2,982,274.00"
basementsqft,50.00,679.72,689.70,38.00,273.00,515.00,796.50,"3,560.00"
bathroomcnt,"77,381.00",2.30,1.00,0.00,2.00,2.00,3.00,18.00
bedroomcnt,"77,381.00",3.05,1.14,0.00,2.00,3.00,4.00,16.00
buildingqualitytypeid,"49,672.00",6.53,1.72,1.00,6.00,6.00,8.00,12.00
calculatedbathnbr,"76,772.00",2.32,0.98,1.00,2.00,2.00,3.00,18.00
decktypeid,614.00,66.00,0.00,66.00,66.00,66.00,66.00,66.00
finishedfloor1squarefeet,"6,023.00","1,366.51",671.31,44.00,955.00,"1,257.00","1,615.00","6,912.00"
calculatedfinishedsquarefeet,"77,185.00","1,785.22",954.05,128.00,"1,182.00","1,543.00","2,113.00","35,640.00"
finishedsquarefeet12,"73,749.00","1,760.52",934.02,128.00,"1,172.00","1,523.00","2,076.00","21,929.00"
finishedsquarefeet13,41.00,"1,389.85",123.53,"1,056.00","1,344.00","1,440.00","1,440.00","1,560.00"
finishedsquarefeet15,"3,009.00","2,357.79","1,188.78",598.00,"1,625.00","2,094.00","2,838.00","35,640.00"
finishedsquarefeet50,"6,023.00","1,381.77",726.47,44.00,956.00,"1,259.00","1,621.50","12,467.00"
finishedsquarefeet6,386.00,"2,082.50","1,240.38",380.00,993.75,"1,812.50","3,053.50","5,598.00"
fips,"77,381.00","6,048.82",20.75,"6,037.00","6,037.00","6,037.00","6,059.00","6,111.00"
fireplacecnt,"8,276.00",1.19,0.49,1.00,1.00,1.00,1.00,5.00
fullbathcnt,"76,772.00",2.25,0.97,1.00,2.00,2.00,3.00,18.00
garagecarcnt,"25,474.00",1.82,0.59,0.00,2.00,2.00,2.00,14.00
garagetotalsqft,"25,474.00",350.11,261.68,0.00,0.00,436.00,493.00,"4,251.00"
hashottuborspa,"1,538.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
latitude,"77,381.00","34,008,372.37","265,388.81","33,339,527.00","33,814,569.00","34,022,000.00","34,174,388.00","34,818,767.00"
longitude,"77,381.00","-118,203,634.43","359,482.63","-119,475,416.00","-118,415,276.00","-118,180,807.00","-117,928,378.00","-117,554,636.00"
lotsizesquarefeet,"69,142.00","29,969.28","123,371.08",236.00,"5,700.00","7,206.00","11,831.00","6,971,010.00"
poolcnt,"16,137.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
poolsizesum,867.00,517.92,156.72,24.00,424.00,500.00,600.00,"1,500.00"
pooltypeid10,464.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid2,"1,074.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid7,"15,042.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
rawcensustractandblock,"77,381.00","60,491,294.96","205,905.23","60,371,011.10","60,373,109.00","60,376,032.00","60,590,423.25","61,110,091.00"
regionidcity,"75,910.00","33,671.24","47,169.82","3,491.00","12,447.00","25,218.00","45,457.00","396,556.00"
regionidcounty,"77,381.00","2,534.16",801.59,"1,286.00","1,286.00","3,101.00","3,101.00","3,101.00"
regionidneighborhood,"30,890.00","187,734.86","165,118.79","6,952.00","46,736.00","118,849.00","274,765.00","764,167.00"
regionidzip,"77,331.00","96,587.09","3,798.35","95,982.00","96,193.00","96,389.00","96,987.00","399,675.00"
roomcnt,"77,381.00",1.48,2.82,0.00,0.00,0.00,0.00,15.00
threequarterbathnbr,"10,096.00",1.01,0.12,1.00,1.00,1.00,1.00,7.00
unitcnt,"50,563.00",1.11,1.17,1.00,1.00,1.00,1.00,237.00
yardbuildingsqft17,"2,388.00",305.41,238.39,11.00,170.00,251.00,364.00,"3,191.00"
yardbuildingsqft26,70.00,216.39,190.18,12.00,61.50,164.50,310.50,868.00
yearbuilt,"77,118.00","1,968.64",23.79,"1,824.00","1,953.00","1,970.00","1,987.00","2,016.00"
numberofstories,"17,560.00",1.43,0.54,1.00,1.00,1.00,2.00,6.00
fireplaceflag,172.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
structuretaxvaluedollarcnt,"77,269.00","189,314.53","230,087.42",44.00,"84,265.00","136,499.00","218,787.00","11,421,790.00"
taxvaluedollarcnt,"77,380.00","490,134.48","653,443.97","1,000.00","207,000.00","358,975.50","569,001.50","49,061,236.00"
assessmentyear,"77,381.00","2,016.00",0.00,"2,016.00","2,016.00","2,016.00","2,016.00","2,016.00"
landtaxvaluedollarcnt,"77,379.00","301,095.41","492,596.03",161.00,"85,504.00","203,372.00","366,796.50","48,952,198.00"
taxamount,"77,376.00","5,995.53","7,622.84",19.92,"2,715.63","4,450.69","6,927.79","586,639.30"
taxdelinquencyyear,"2,886.00",14.09,2.19,3.00,14.00,15.00,15.00,99.00
censustractandblock,"77,137.00","60,496,733,646,264.07","1,535,241,981,138.57","60,371,011,101,000.00","60,373,109,005,002.00","60,376,032,003,008.00","60,590,423,251,008.00","483,030,105,084,015.00"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77580 entries, 0 to 77579
Data columns (total 69 columns):
typeconstructiontypeid          223 non-null float64
storytypeid                     50 non-null float64
propertylandusetypeid           77580 non-null float64
heatingorsystemtypeid           49572 non-null float64
buildingclasstypeid             15 non-null float64
architecturalstyletypeid        207 non-null float64
airconditioningtypeid           25007 non-null float64
parcelid                        77580 non-null int64
id                              77580 non-null int64
logerror                        77580 non-null float64
transactiondate                 77580 non-null object
id                              77580 non-null int64
basementsqft                    50 non-null float64
bathroomcnt                     77580 non-null float64
bedroomcnt                      77580 non-null float64
buildingqualitytypeid           49810 non-null float64
calculatedbathnbr               76964 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6037 non-null float64
calculatedfinishedsquarefeet    77379 non-null float64
finishedsquarefeet12            73924 non-null float64
finishedsquarefeet13            42 non-null float64
finishedsquarefeet15            3027 non-null float64
finishedsquarefeet50            6037 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77580 non-null float64
fireplacecnt                    8289 non-null float64
fullbathcnt                     76964 non-null float64
garagecarcnt                    25520 non-null float64
garagetotalsqft                 25520 non-null float64
hashottuborspa                  1539 non-null float64
latitude                        77580 non-null float64
longitude                       77580 non-null float64
lotsizesquarefeet               69322 non-null float64
poolcnt                         16174 non-null float64
poolsizesum                     869 non-null float64
pooltypeid10                    465 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15079 non-null float64
propertycountylandusecode       77580 non-null object
propertyzoningdesc              50477 non-null object
rawcensustractandblock          77580 non-null float64
regionidcity                    76108 non-null float64
regionidcounty                  77580 non-null float64
regionidneighborhood            30974 non-null float64
regionidzip                     77530 non-null float64
roomcnt                         77580 non-null float64
threequarterbathnbr             10106 non-null float64
unitcnt                         50704 non-null float64
yardbuildingsqft17              2393 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77310 non-null float64
numberofstories                 17599 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77465 non-null float64
taxvaluedollarcnt               77579 non-null float64
assessmentyear                  77580 non-null float64
landtaxvaluedollarcnt           77578 non-null float64
taxamount                       77575 non-null float64
taxdelinquencyflag              2900 non-null object
taxdelinquencyyear              2900 non-null float64
censustractandblock             77333 non-null float64
airconditioningdesc             25007 non-null object
architecturalstyledesc          207 non-null object
buildingclassdesc               15 non-null object
heatingorsystemdesc             49572 non-null object
propertylandusedesc             77580 non-null object
storydesc                       50 non-null object
typeconstructiondesc            223 non-null object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

In [6]:
# find nulls by collumns
count_missing = zillow.isnull().sum()
average_missing = count_missing/zillow.shape[0]
missing_cols = pd.DataFrame({'num_rows_missing': count_missing, 'pct_rows_missing': average_missing})
missing_cols

                              num_rows_missing     pct_rows_missing
typeconstructiontypeid                   77159                 1.00
storytypeid                              77331                 1.00
propertylandusetypeid                        0                 0.00
heatingorsystemtypeid                    27941                 0.36
buildingclasstypeid                      77366                 1.00
architecturalstyletypeid                 77175                 1.00
airconditioningtypeid                    52428                 0.68
parcelid                                     0                 0.00
id                                           0                 0.00
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
basementsqft                             77331                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingqualitytypeid                    27709                 0.36
calculatedbathnbr                          609                 0.01
decktypeid                               76767                 0.99
finishedfloor1squarefeet                 71358                 0.92
calculatedfinishedsquarefeet               196                 0.00
finishedsquarefeet12                      3632                 0.05
finishedsquarefeet13                     77340                 1.00
finishedsquarefeet15                     74372                 0.96
finishedsquarefeet50                     71358                 0.92
finishedsquarefeet6                      76995                 1.00
fips                                         0                 0.00
fireplacecnt                             69105                 0.89
fullbathcnt                                609                 0.01
garagecarcnt                             51907                 0.67
garagetotalsqft                          51907                 0.67
...                                        ...                  ...
propertycountylandusecode                    0                 0.00
propertyzoningdesc                       27050                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1471                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     46491                 0.60
regionidzip                                 50                 0.00
roomcnt                                      0                 0.00
threequarterbathnbr                      67285                 0.87
unitcnt                                  26818                 0.35
yardbuildingsqft17                       74993                 0.97
yardbuildingsqft26                       77311                 1.00
yearbuilt                                  263                 0.00
numberofstories                          59821                 0.77
fireplaceflag                            77209                 1.00
structuretaxvaluedollarcnt                 112                 0.00
taxvaluedollarcnt                            1                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    5                 0.00
taxdelinquencyflag                       74495                 0.96
taxdelinquencyyear                       74495                 0.96
censustractandblock                        244                 0.00
airconditioningdesc                      52428                 0.68
architecturalstyledesc                   77175                 1.00
buildingclassdesc                        77366                 1.00
heatingorsystemdesc                      27941                 0.36
propertylandusedesc                          0                 0.00
storydesc                                77331                 1.00
typeconstructiondesc                     77159                 1.00

[69 rows x 2 columns]

better to just drop collumns with more than 75% info missing

In [16]:
features = missing_cols[missing_cols.pct_rows_missing < .75].index.tolist()
features

['propertylandusetypeid',
 'heatingorsystemtypeid',
 'airconditioningtypeid',
 'parcelid',
 'id',
 'logerror',
 'transactiondate',
 'id',
 'bathroomcnt',
 'bedroomcnt',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'fips',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'unitcnt',
 'yearbuilt',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'censustractandblock',
 'airconditioningdesc',
 'heatingorsystemdesc',
 'propertylandusedesc']

In [21]:
num_cols_missing = zillow.isnull().sum(axis = 1)
pct_cols_missing = num_cols_missing/zillow.shape[1]
num_rows = pd.DataFrame({'num_rows':num_cols_missing}).groupby(num_cols_missing).count()
num_pct = pd.DataFrame({'num_cols_missing': num_cols_missing, 'pct_cols_missing': pct_cols_missing})
missing_stats = pd.merge(num_pct, num_rows, left_on='num_cols_missing', right_on=num_rows.index).drop_duplicates()
missing_stats = missing_stats.sort_values('num_cols_missing').reset_index(drop = True)
missing_stats

    num_cols_missing     pct_cols_missing  num_rows
0                 23                 0.33         2
1                 24                 0.35        13
2                 25                 0.36        24
3                 26                 0.38        65
4                 27                 0.39       316
5                 28                 0.41       455
6                 29                 0.42      5270
7                 30                 0.43      3455
8                 31                 0.45      9891
9                 32                 0.46     12579
10                33                 0.48     14782
11                34                 0.49     13327
12                35                 0.51      5148
13                36                 0.52      5775
14                37                 0.54      3620
15                38                 0.55      1925
16                39                 0.57       285
17                40                 0.58       230
18                41                 0.59        29
19                42                 0.61        23
20                43                 0.62        28
21                44                 0.64        78
22                45                 0.65        50
23                46                 0.67         5
24                47                 0.68         3
25                48                 0.70         3

In [20]:
acquire.nulls_by_row(zillow[features])

    num_cols_missing     pct_cols_missing  num_rows
0                  2                 0.05     10428
1                  3                 0.07     10387
2                  4                 0.10     13972
3                  5                 0.12     13258
4                  6                 0.14      2627
5                  7                 0.17      4657
6                  8                 0.19     15917
7                  9                 0.21      4764
8                 10                 0.24       698
9                 11                 0.26       383
10                12                 0.29        82
11                13                 0.31        27
12                14                 0.33        41
13                15                 0.36        78
14                16                 0.38        50
15                17                 0.40         6
16                18                 0.43         3
17                19                 0.45         3

In [25]:
features.remove('id')
features

['propertylandusetypeid',
 'heatingorsystemtypeid',
 'airconditioningtypeid',
 'parcelid',
 'logerror',
 'transactiondate',
 'bathroomcnt',
 'bedroomcnt',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'fips',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'unitcnt',
 'yearbuilt',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'censustractandblock',
 'airconditioningdesc',
 'heatingorsystemdesc',
 'propertylandusedesc']