### Warmup 11/13

In [56]:
import pandas as pd
import json
from pprint import pprint

Import json module and load bayes file

In [10]:
with open('./bayes.json') as f:
    bayes = json.load(f)
type(bayes)

dict

In [57]:
pprint(bayes)

{'Floor': 6,
 'Instructors': [{'favoriteLanguages': ['python', 'clojure'], 'name': 'Ryan'},
                 {'favoriteLanguages': ['python', 'R', 'java'],
                  'name': 'Maggie'},
                 {'favoriteLanguages': ['python', 'matlab'], 'name': 'David'},
                 {'favoriteLanguages': ['python', 'bash'], 'name': 'Zach'}],
 'Location': 'Blanco',
 'Students': [{'examGrades': [62, 85, 80], 'name': 'Sally'},
              {'examGrades': [88, 79, 67], 'name': 'Jane'},
              {'examGrades': [94, 74, 95], 'name': 'Suzie'},
              {'examGrades': [98, 96, 88], 'name': 'Billy'},
              {'examGrades': [77, 92, 98], 'name': 'Ada'},
              {'examGrades': [79, 76, 93], 'name': 'John'},
              {'examGrades': [82, 64, 81], 'name': 'Thomas'},
              {'examGrades': [93, 63, 90], 'name': 'Marie'},
              {'examGrades': [92, 62, 87], 'name': 'Albert'},
              {'examGrades': [69, 80, 94], 'name': 'Richard'},
              {'examGrades': [92, 99, 93], 'name': 'Isaac'},
              {'examGrades': [92, 62, 72], 'name': 'Alan'}],
 'isActive': True}

Write code necessary to perform following tasks:

- Print out a message that gives the location of the class using the location and the floor properties.

In [58]:
def classroom_loc(classroom):
    floor = classroom['Floor']
    room = classroom['Location']
    print('This classroom is located on:')
    print(f"Floor: {floor}")
    print(f"Room: {room}")

classroom_loc(bayes)

This classroom is located on:
Floor: 6
Room: Blanco

- If the class is active, print a message that says so.

In [60]:
def is_active(classroom):   
    if classroom['isActive']:
        print ('The class is active')
    else:
        print('The class is not active')
is_active(bayes)

The class is active

- Print out the number of students and number of instructors.

In [59]:
def enrollment(classroom):
    n_students = len(classroom['Students'])
    n_instructors = len(classroom['Instructors'])
    print(f'there are: \n{n_instructors} instructors in classroom\n{n_students} students in classroom')
enrollment(bayes)

there are:
4 instructors in classroom
12 students in classroom

- Print out the name of the instructor that has the most favorite languages.

In [47]:
def instructor_w_most_fav_languages(classroom):    
    instructor_w_most_lang = 0
    fav_languages = 0
    for instructor in classroom['Instructors']:
        if len(instructor['favoriteLanguages']) > fav_languages:
            fav_languages = len(instructor['favoriteLanguages'])
            instructor_w_most_lang = instructor['name']
    return(instructor_w_most_lang)
instructor_w_most_fav_languages(bayes)

'Maggie'

- Import pandas and create a dataframe from the student data. What do you notice?

In [73]:
df = pd.DataFrame(bayes['Students'])
grades = df.examGrades.apply(pd.Series)
grades.columns = ['exam_1', 'exam_2', 'exam_3']
df = df.join(grades)
df.drop(columns = 'examGrades', inplace = True)
df

       name  exam_1  exam_2  exam_3
0     Sally      62      85      80
1      Jane      88      79      67
2     Suzie      94      74      95
3     Billy      98      96      88
4       Ada      77      92      98
5      John      79      76      93
6    Thomas      82      64      81
7     Marie      93      63      90
8    Albert      92      62      87
9   Richard      69      80      94
10    Isaac      92      99      93
11     Alan      92      62      72

In [63]:
bayes['Students']

[{'name': 'Sally', 'examGrades': [62, 85, 80]},
 {'name': 'Jane', 'examGrades': [88, 79, 67]},
 {'name': 'Suzie', 'examGrades': [94, 74, 95]},
 {'name': 'Billy', 'examGrades': [98, 96, 88]},
 {'name': 'Ada', 'examGrades': [77, 92, 98]},
 {'name': 'John', 'examGrades': [79, 76, 93]},
 {'name': 'Thomas', 'examGrades': [82, 64, 81]},
 {'name': 'Marie', 'examGrades': [93, 63, 90]},
 {'name': 'Albert', 'examGrades': [92, 62, 87]},
 {'name': 'Richard', 'examGrades': [69, 80, 94]},
 {'name': 'Isaac', 'examGrades': [92, 99, 93]},
 {'name': 'Alan', 'examGrades': [92, 62, 72]}]